

/*헤더 부모 스타일*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'NotoSansKR', Sans-serif;
    line-height: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    unicode-bidi: isolate;
}


a {
    /*header*/
    text-decoration: none;
    color: #212121;
}
body {
    height: 100%;
    background-color: #f5f5f5;
}

/*얘도 태그?*/
header.header {
    min-width: 1080px;
}

/*footer 얘도 태그?*/
footer.footer {
    background-color: #f5f5f5;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

*, ::after, ::before {
    
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
 /* spacing */
    border-spacing: 0;

    /* transform */
    transform: translate(0, 0) rotate(0deg) skew(0deg, 0deg) scale(1, 1);

    /* scroll-snap */
    scroll-snap-type: proximity;

    /* ring 효과 */
    box-shadow: 0 0 0 0 rgba(75, 148, 250, 0.5);

    /* 기본 box-shadow 초기화 */
    box-shadow: none;

    /* filter */
    filter: none;

    /* backdrop-filter */
    backdrop-filter: none;

    /* contain */
    contain: size layout paint style;
}

/*login*/
img, video {
    max-width: 100%;
    height: auto;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

svg {
    display: block;
    vertical-align: middle;
}

 input {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

[hidden]:where(:not([hidden=until-found])) {
    display: none;
}

button{
      text-transform: none;
     -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}



