<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="wrap"> <!--여기가 min-width : 1200px 부분-->
            <div class="page"> <!-- 여기가 W-full 부분-->
                <div class="page-inner"> <!--css-1jnf2ee eglsog60-->
                    <aside class="user-settings-nav">
                        <div class="account-settings">계정 설정</div>
                        <hr orientation="horizontal" class="line">
                        <a class="my_profile" href="/my_profile">내 정보</a>
                        <a class="my_matching" href="/my_matching">매칭 정보</a>
                        <a class="my_tourist_attraction_wishlist" href="/my_tourist_attraction_wishlist">관광짐 찜 목록</a>
                        <a class="change_password" href="/change_password">비밀번호 변경 정보</a>
                        <a class="alarm" href="/alarm">알림 설정</a>
                    </aside>
                    <main class="mypage_info"> <!--css-1rr4qq7 eglsog61-->
                        <div class="total-wrapper">
                            <h1 class="info-title">내 정보</h1>
                            <section class="main-wrapper">
                                <div class="main-info-wrapper">
                                    <section class="change-profile-section">
                                        <div role="article" shape="0" size="120" class="profile-image-part">
                                            <img alt="프로필 사진" loading="lazy" shape="0" src="" class="profile-image">
                                        </div>
                                        <div class="change-profile-btn-main-wrapper">
                                            <div class="profile-btn-wrapper" style="border: none; overflow: auto; padding: 4px;">
                                                <button class=""></button>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="change-info-section"></section>
                                </div>
                            </section>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>
</html>