
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/fix/header.css">
     <link rel="stylesheet" href="/static/css/creatingRoom/creatingRoom-detail.css">
    <script src = "/static/js/creatingRoom/creatingRoom-detail.js">
    </script>
     <script src = "/static/js/fix/header.js">
    </script>
</head>


<body>

<header class="header">
  
  <div class="header-nav">
    <div class="container">
      <a href="/">
        <div class="nav-logo-wrapper">
          <div class="nav-logo"></div>
        </div>
      </a>
      <div class="left-nav">
        <a href="/project/add/">
          <div class="left-nav-menu body-2 text900" >동행 매칭</div>
          
        </a>
        <a href="/project/#clear">
          <div class="left-nav-menu pr-12 body-2 text900">
             날씨 여행
            <div class="img-container">
              
            </div>
          </div>
        </a>
        <a href="/partners/#clear">
          <div class="left-nav-menu body-2 text900">감정 여행</div>
        </a>

<div class="left-nav-menu pr-12 body-2 text900 search-bar-wrapper" style="margin-left: 100px;">
  <form class="search-bar" action="/search" method="get">
    <input
      type="text"
      name="q"
      placeholder="검색어를 입력하세요"
      class="search-input"
    />
    <button type="submit" class="search-btn" aria-label="검색">
      <img src="/static/image/default-common/search.png" alt="검색" class="search-icon">
    </button>
  </form>
</div>


        
      </div>
      <div class="right-nav">
        <a href="https://auth.wishket.com/login?next=/">
          <div class="log-in-section body-2 text900">로그인</div>
        </a>
        <a href="https://auth.wishket.com/signup?next=/project/create/">
          <div class="sign-up-button body-2-medium">회원가입</div>
        </a>
      </div>
    </div>



<div class="dropdown-nav-container" style="top: 65px;">
  <div class="dropdown-nav">
    <div class="dropdown-menu-container">
      <div class="dropdown-menu-list" style="width: 109px;">
        <div class="dropdown-menu-item"></div>
      </div>
      <div class="dropdown-menu-list" style="width: 113px;">
        <div class="dropdown-menu-item"></div>
      </div>
      <div class="dropdown-menu-list" style="width: 145px;">
        <a class="dropdown-menu-item" href="/project/#clear">프로젝트 찾기</a>
        <a class="dropdown-menu-item" href="/project/similar-case-search/">
          유사사례 검색 AI
          <img alt="beta" src="/static/renewal/img/project/similar_case_search/img_menu_label.svg">
          <img class="bubble-img" src="/static/img/nav/similar-ai-bubble.png"
               srcset="/static/img/nav/similar-ai-bubble.png 1x, /static/img/nav/similar-ai-bubble@2x.png 2x, /static/img/nav/similar-ai-bubble@3x.png 3x">
        </a>
      </div>
      <div class="dropdown-menu-list" style="width: 113px;">
        <div class="dropdown-menu-item"></div>
      </div>
      <div class="dropdown-menu-list" style="width: 98px;">
        <a class="dropdown-menu-item" href="/customer-support/client/use-guide">이용방법</a>
        <a class="dropdown-menu-item" href="/customer-support/partner/grade/">파트너 등급</a>
        <a class="dropdown-menu-item" href="/customer-support/price/">이용요금</a>
        <a class="dropdown-menu-item" href="/customer-support/client/">고객센터</a>
      </div>
      <div class="dropdown-menu-list" style="width: 110px;">
        <a class="dropdown-menu-item" href="/partners/wishket-portfolio/">포트폴리오</a>
        <a class="dropdown-menu-item" href="/postscript/">이용후기</a>
      </div>
      <div class="dropdown-menu-list" style="width: 110px;">
        <a class="dropdown-menu-item" href="/store/wishket-packages/">AI 마켓</a>
        <a class="dropdown-menu-item" href="/store/">스토어</a>
      </div>
    </div>
    <div class="dropdown-banner client">
      <div class="dropdown-banner-subtitle body-3 text500">유사사례 검색 AI</div>
      <div class="dropdown-banner-title body-1-medium text700" style="line-height: 26px;">
        ‘이런 거’ 만들어본<br>개발 회사 있어?
      </div>
      <a class="dropdown-banner-link body-3" href="/project/similar-case-search/">
        바로가기
        <svg fill="none" height="14" viewBox="0 0 14 14" width="14" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 11L8.99844 7L5.00078 3" stroke="#3BA3C7" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4"></path>
        </svg>
      </a>
      <img alt="광고 배너" src="/static/renewal/img/global/dropdown-banner.svg">
    </div>
  </div>
</div>


  </div>

 
</header>
</body>
</html>