footer-margin-remover+footer.footer {
    margin-top: 0;
}
footer.footer {
    background-color: #f5f5f5;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'NotoSansKR', Sans-serif;
    line-height: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer.footer .container {
    padding: 0 0 40px;
}


.footer-margin-remover+footer.footer .footer-service-menu-list {
    border-top: none;
}
footer.footer .footer-service-menu-list {
    display: flex;
    align-items: center;
    padding: 16px 0px;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
}

/*고객 문의*/

footer.footer .footer-main {
     display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 32px;
  padding-bottom: 32px;
  margin-top: 32px;
}


.footer-menu-title img {
  width: 24px;      /* 원하는 크기로 조절 */
  height: 24px;     /* 비율 유지하려면 height는 빼도 됨 */
  object-fit: contain; /* 이미지 비율 유지 */
  vertical-align: middle; /* 텍스트와 수직 정렬 */
}

footer.footer .footer-contact .footer-menu-title {
    margin-bottom: 4px;
}

footer.footer .footer-contact .footer-cs-tel {
    color: #616161;
}

.subtitle-1-bold, footer.footer .footer-contact .footer-cs-tel {
    font-weight: 700;
}
footer.footer .footer-contact .footer-cs-tel {
    font-size: 16px;
    line-height: 24px;
}

.subtitle-1, .subtitle-1-bold, footer.footer .footer-contact .footer-cs-tel, .subtitle-1-medium, .subtitle-1-light {
    font-size: 24px;
    line-height: 36px;
}
footer.footer a {
    text-decoration: none;
}



.flex-box {
    display: flex;
    align-items: center;
}

footer.footer .footer-contact .footer-cs-info {
    margin-top: 2px;
}

footer.footer .footer-contact .footer-cs-info .footer-cs-item {
    display: inline-block;
    color: #616161;
}
footer.footer .footer-contact .footer-cs-info .footer-cs-item{
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    
}




footer.footer .footer-contact .footer-cs-info .footer-cs-subitem {
    display: inline-block;
    color: #9e9e9e;
    margin-left: 6px;
}
/*클래스명 수정 */

footer.footer .footer-contact .footer-cs-info .footer-cs-subitem{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}


footer.footer .footer-contact .footer-cs-info .footer-cs-item.email {
    margin-top: 4px;
}




footer.footer .footer-menu-list {
    /*float: left;*/
    width: 185px;
}

footer.footer .footer-menu-list .footer-menu-title {
    color: #616161;
    margin-bottom: 12px;
    gap: 4px;
}

footer.footer .footer-menu-list .footer-menu-item {
    display: block;
    color: #616161;
}
footer.footer .footer-menu-list .footer-menu-item+.footer-menu-item {
    margin-top: 8px;
}


footer.footer .footer-menu-list .footer-menu-title{
 font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}


footer.footer .footer-service-policy {
    display: inline-flex;
    align-items: center;
    margin-top: 0px;
}
footer.footer .footer-service-policy .footer-service-policy-item {
    margin-top: 0px;
    color: #616161;
}
footer.footer .footer-service-policy .divider {
    margin: 0px 12px;
    width: 1px;
    height: 13px;
    background-color: #e0e0e0;
}
footer.footer .footer-company-info {
    display: grid
;
    grid-gap: 4px;
    padding-top: 12px;
}

footer.footer .footer-company-info .footer-company-info-copyright {
    margin-top: 20px;
    color: #9e9e9e;
}

footer.footer .footer-company-info .footer-company-info-list {
    display: flex
;
    align-items: center;
}
footer.footer .footer-company-info-item {
    color: #9e9e9e;
}
footer.footer .footer-company-info .footer-company-info-list .divider {
    width: 1px;
    height: 12px;
    background-color: #e0e0e0;
    margin: 0px 8px;
}
.container::before {
    content: "";
    display: table;
    clear: both;
}

.footer-info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  width: 100%;
  max-width: 100vw;
  padding-right: 450px; /* 원하는 만큼 오른쪽 여백 */
  box-sizing: border-box;
}