<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기 페이지</title>
    <link rel="stylesheet" href="/static/css/find-password/find-password.css">
    <script src = "/static/js/find-password/find-password.js">
    </script>
</head>


<body>
 <!-- 타이틀 상단 바 -->   
<div class>
<div class="box-border false">
  <div class="box-border left-topBar right-topBar top-Bar z-topBar border-title bg-w-white">
    <div class="mx-auto grid w-full max-w-container auto-cols-1fr gap-x-5 px-5 desktop:gap-x-6 desktop:px-9 grid-areas-topBar-mobile bg-white top-padding tablet:grid-areas-topBar-tablet desktop:grid-areas-topBar-desktop">
      <div class="box-border flex justify-center grid-top-title desktop:block" data-testid="topbar">
        <a class="cursor-default" href="">
          <span class="text-box typo-subTitle1 font-medium text-w-gray-900 desktop:text-base">
            무드트립 통합회원 비밀번호 찾기
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<!--바디 상단 부분-->
<div class="box-border flex min-h-screen flex-col bg-w-white">
  <div class="box-border h-full flex-1 pb-12 pt-6 desktop:min-h-[80vh] desktop:py-12">
    <div class="mx-auto grid w-full max-w-container auto-cols-1fr gap-x-5 px-5 desktop:gap-x-6 desktop:px-9 grid-areas-default-mobile tablet:grid-areas-default-tablet desktop:grid-areas-center-content-desktop">
      <div class="box-border m-auto w-full grid-in-content">
        <div class="box-border h-full w-full bg-w-white desktop:box-border desktop:flex desktop:flex-col desktop:rounded-2xl desktop:shadow-contents-container desktop:p-0" data-testid="feature-password-find-form">
          <div class="box-border mb-8 hidden border-title border-w-gray-200 px-8 py-6 desktop:block">
            <span class="text-box typo-title3 text-w-gray-900">비밀번호 찾기</span>
          </div>
          <div class="box-border flex w-full flex-col gap-8 desktop:px-8 desktop:pb-8">
            <form data-testid="password-find-form" class="flex flex-col gap-8" data-hs-cf-bound="true">
              <div class="box-border whitespace-break-spaces break-keep tablet:whitespace-normal desktop:whitespace-pre-line">
                <span class="text-boxtypo-body1 text-w-gray-700">
                  무드트립 통합회원에 가입된 이메일을 입력하시면,
                  비밀번호 재설정 메일을 전송해드립니다.
                </span>
              </div>
              <div class="box-border w-full">
                <div class="flex min-w-fit select-none flex-col gap-2 text-box">
                  <label role="input-box" class="cursor-text">
                    <div class="box-border group flex w-full items-center gap-3 overflow-hidden rounded-xl border px-4 py-[11px] border-w-gray-200 hover:border-primary bg-w-white" data-testid="design-system--text-field-container">
                      <div class="box-border relative flex h-[42px] w-full flex-col gap-0.5 py-px" data-testid="design-system--lable-input">
                        <div class="absolute text-box text-w-gray-400 group-hover:text-primary-500 typo-body1 transition-transform duration-300 translate-y-2 origin-top-left" data-testid="design-system--lable-text">
                          이메일
                        </div>
                        <input role="text-input" class="w-full text-box text-w-gray-600 outline-none typo-body1 placeholder:text-box placeholder:text-w-gray-300 placeholder:typo-body1 disabled:bg-w-gray-10 pt-[14px]" data-testid="design-system--input" variant="lable" name="email">
                      </div>
                    </div>
                  </label>

<!-- ✅ 입력창 하나 더 추가 -->
<label role="input-box" class="cursor-text">
  <div class="box-border group flex w-full items-center gap-3 overflow-hidden rounded-xl border px-4 py-[11px] border-w-gray-200 bg-w-white" data-testid="design-system--text-field-container">
    <div class="box-border relative flex h-[42px] w-full flex-col gap-0.5 py-px" data-testid="design-system--lable-input">
      <div class="absolute text-box text-w-gray-400 typo-body1 transition-transform duration-300 translate-y-2 origin-top-left" data-testid="design-system--lable-text">
        임시 비밀번호
      </div>
      <input class="w-full text-box text-w-gray-600 outline-none typo-body1 placeholder:text-box placeholder:text-w-gray-300 pt-[14px]" name="extra_input">
    </div>
  </div>
</label>

                  
                </div>
              </div>
            <!-- 비밀번호 재설정 버튼 -->
<button class="box-border flex cursor-pointer items-center justify-center rounded-xl h-[50px] text-base leading-[26px]
  gap-x-1.5 px-4 text-w-white bg-primary-500 border-0 hover:bg-primary-700 w-full
  btn-transition btn-hover-lift btn-click-active" type="submit">
  비밀번호 재설정 메일 보내기
</button>

<!-- 다시 입력하기 버튼 -->
<button class="box-border flex cursor-pointer items-center justify-center rounded-xl h-[50px] text-base 
  leading-[26px] gap-x-1.5 px-4 text-w-white bg-primary-500 border-0 hover:bg-primary-700 w-full
  btn-transition btn-hover-lift btn-click-active" type="button">
  임시 비밀번호 입력 확인
</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>








</body>


