<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>무드트립 : 동행자 매칭 시작 페이지</title>
        <link rel="stylesheet" href="/static/css/creatingRoom/companion-match-start.css">
    </head>
    <body class = "matching">
        <div class = "big-frame">
            <div class = "introduction">
                <section class = "container">
                    <div class = "introduction-guide">
                        <div class = "title-wrapper">
                            <span class="title-1 text900" id="typing_effect_box" style = "color: rgba(0, 152, 200, 1)">
                            </span>
                            <span class="title-1 text900">쉽고 빠르게 매칭해 드려요</span>
                        </div>
                        <div class="guide-body">
                            <p class="substitute-2 text600">
                                "혼자 여행은 끝!"
                                <br>
                                " 무드 트립에서 함께 떠나요."
                            </p>
                        </div>
                        <a class="btn btn-bIg guide-btn hover-top-btn subtitle-2-medium" href = "버튼 누르면 넘어가야 할 주소" style = "width: 240px;">방 만들러 가기</a>
                        <a class="btn btn-bIg ask-btn hover-top-btn subtitle-2-medium" href = "버튼 누르면 넘어가야 할 주소" style = "margin-left : 16px;">방 찾으러 가기</a>
                    </div>
                    <div class = "introduction-img">
                        <img src = "/static/image/companion-match/room_list.png">
                    </div>
                    <!-- ::after -->
                </section>
            </div>
            <div class = "introduction-detail-container">   
                <section class = "container">
                    <div class = "intro-part-1">
                        <p class = "substitute-2-bold text900 intro-subtitle mb6">100,000+ 기업이 믿고 사용 중인 국내 1위 국내 동행자 매칭 플랫폼 무드트립</p>
                        <div class="client-logo-carousel">
                            <div class="bd-filter left"></div>
                            <div class="bd-filter right"></div>
                            <div class="logo-item" id="slide1">
                                <img src = "/static/image/companion-match/kakao.png">
                            </div>
                            <div class="logo-item" id="slide2">
                                <img src = "/static/image/companion-match/google.png">
                            </div>
                            <div class="logo-item" id="slide3">
                                <img src = "/static/image/companion-match/instargram.png">
                            </div>
                            <div class="logo-item" id="slide4">
                                <img src = "/static/image/companion-match/naver.png">
                            </div>
                            <div class="logo-item" id="slide5">
                                <img src = "/static/image/companion-match/daum.png">
                            </div>
                        </div>
                    </div>
                    <!-- ::after -->
                </section>
            </div>
        </div>
    </body>
</html>