* {
    box-sizing: border-box;
    border: 0 solid #f2f3f7;
}

.wrap {
    min-width: 1200px;
}

.page {
    width: 100%;
}

.page-inner {
    display: flex;
    width: 1200px;
    padding: 0px 16px;
    margin: 40px auto;
    min-height: 600px;
}

.user-settings-nav {
    display: flex;
    width: 300px;
    flex-direction: column;
}

.account-settings {
    font-size: 18px;
    color: rgb(48, 52, 65);
    font-weight: 500;
}

.horizontal-line {
    margin: 20px 0px;
    border: none;
    flex-shrink: 0;
    background-color: rgb(48, 52, 65);
    height: 2px;
}

.my_profile {
    padding: 8px 20px;
    font-size: 14px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(48, 52, 65);
    text-decoration: none;
    font-weight: 600;
}

.my_matching, .my_tourist_attraction_wishlist, .alarm {
        padding: 8px 20px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(48, 52, 65);
    text-decoration: none;
}

.change_password {
    padding: 8px 20px;
    font-size: 14px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(48, 52, 65);
    text-decoration: none;
    font-weight: 600;
}

.mypage_info {
    flex: 1 1 0%;
}

.total-wrapper {
    margin-left: 1.5rem;
}


.change-password-title {
    font-size: 18px;
    color: rgb(48, 52, 65);
    font-weight: bold;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

.input-password-form-wrapper {
    margin-top: 20px;
    padding: 6px 40px 40px;
    border: 1px solid rgb(228, 229, 237);
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.password-warning-notification-wrapper {
    opacity: 1;
    color: rgb(17, 106, 212);
    background-color: rgb(247, 251, 255);
    border-color: rgb(173, 211, 255);
    border-image: linear-gradient(to bottom right, #005792, #001A2C) 1;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border: 1px solid;
    border-radius: .25rem;
}

.password-warning-notification-icon-wrapper {
    margin: 0px;
    color: inherit;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    align-items: flex-start;
}


.password-svg-inline-block {
    opacity: 1;
    background: linear-gradient(to bottom right, #005792, #001A2C);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    line-height: 1;
    vertical-align: -.125em;
    text-align: center;
    display: inline-block;
}

.password-warning-text-wrapper {
    flex-direction: column;
}


.password-warning-text {
    margin: 0px;
    background: linear-gradient(to bottom right, #005792, #001A2C);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* 폴백용 */
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    gap: .25rem;
}

.whitespace-pre-wrap {
    text-align: left;
    white-space: pre-wrap;
}

.current-password-text-label, .change-passowrd-label, .change-passowrd-label {
    display: flex;
    margin-bottom: 8px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

.current-password-span-text, .change-passowrd-span {
    font-size: 15px;
    font-weight: 500;
    color: rgb(85, 89, 105);
}

.input-current-password-wrapper, .change-password-wrap, .input-change-new-confirm-password-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 4px;
}

.input-current-password, .change-password, .change-new-confirm-passowrd {
    width: 100%;
    border: 1px solid rgb(228, 229, 237);
    border-radius: 8px;
    transition: background-color 0.2s, border-color 0.2s;
    display: inline-flex;
    column-gap: 8px;
    flex-direction: row;
    overflow: hidden;
    cursor: text;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 34, 36);
    height: 42px;
    font-size: 14px;
    padding: 0px 12px;
    min-width: 64px;
}


.current-password, .input-change-password, .input-change-new-confirm-password {
    outline: none;
    flex: 1 1 0%;
    width: 100%;
    background-image: none;
    box-sizing: border-box;
    font-size: inherit;
    border: none;
    font-weight: inherit;
    background-color: transparent;
    text-align: left;
    color: inherit;
    padding: 0px;
}

.change-password-section {
    margin-top: 32px;
}

.change-passowrd-wrapper, .input-change-password-total-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}


.change-password-button-wrapper {
    margin-top: 20px;
    display: flex;
}

.change-button {
    outline: none;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s, border-color 0.3s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 16px;
    padding: 0px 20px;
    line-height: 16px;
    background: linear-gradient(to bottom right, #005792, #001A2C);
    border: none;
    color: rgb(255, 255, 255);
}
