<!DOCTYPE html>
<html lang="ko" class="no-js modern">
<head>
  <meta charset="UTF-8">
  <title>page-a</title>
  <link rel="stylesheet" href="/static/css/common.css"> <!-- 실제 CSS 경로로 바꿔줘 -->
</head>
<body class="landing">

  <section class="base-nav-landing-renewal">
    <div class="header-service-nav">
        <div class="service-name caption-1">MoodTrip</div>
      <div class="container">
        <a href="https://yozm.wishket.com/" class="btn-service-link wishket"></a>
          <div class="service-name caption-1">요즘IT</div>
        </a>
      </div>
    </div>
  </section>

</body>
</html>
